/node_modules
/public/hot
/public/storage
/public/.htaccess
/storage/*.key
/vendor
/public/storage
.htaccess
.htaccess_local
.htaccess_server
.env
.env.server
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
